*.pyc
*.egg-info
build
dist
docs/build
*~
.pytest_cache
.coverage
.DS_Store
.eggs
notebooks/.ipynb_checkpoints
*.tmp
.aider*
tests/data
tests/data.zip
*processing.txt
*broken.txt
scripts/golden_outputs
